<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#0f172a">
<title>NutriFit — Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body 
data-username="{{ session['user']['name'] if session.get('user') else 'User' }}"
data-protein="{{ protein }}">

<header>
    <div class="logo">NutriFit</div>

    <nav style="display:flex; gap:12px;">
        <span>Hi, {{ session['user']['name'] }}</span>
        <a href="/" class="start-btn">Home</a>
        <a href="/profile" class="start-btn">Edit Profile</a>
        <a href="/logout" class="start-btn" style="background:red;">Logout</a>
    </nav>
</header>

<div class="dashboard">

<h2>Your Daily Goals</h2>

<div class="goal-card">
    <p>Calories: {{ calories }}</p>
    <p>Protein: {{ protein }}</p>
</div>

<h2>Today's Consumption</h2>

<div class="tracker">
    <p>Calories: <span id="total-calories">0</span></p>
    <p>Protein: <span id="total-protein">0</span></p>
    <p>Remaining Protein: <span id="remaining-protein">{{ protein }}</span></p>
    <p id="protein-status"></p>
</div>

<h2>Today's Diet Plan</h2>

<div class="meals">

    <div class="meal">
        <h3>Breakfast</h3>
        <div id="breakfast-items"></div>
        <p id="breakfast-status"></p>
        <button onclick="completeMeal('breakfast')">Complete</button>
    </div>

    <div class="meal">
        <h3>Lunch</h3>
        <div id="lunch-items"></div>
        <p id="lunch-status"></p>
        <button onclick="completeMeal('lunch')">Complete</button>
    </div>

    <div class="meal">
        <h3>Dinner</h3>
        <div id="dinner-items"></div>
        <p id="dinner-status"></p>
        <button onclick="completeMeal('dinner')">Complete</button>
    </div>

</div>

<h2>Add Extra Meals</h2>

<div class="meal">

    <input type="text" placeholder="Food" class="food-input" oninput="getSuggestions(this)">
    <div class="suggestions"></div>

    <input type="number" placeholder="Quantity" class="food-qty">

    <button onclick="addFood(this)">Add</button>

    <div class="meal-result"></div>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>